/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 12:29:08 PM
    Author     : Robert
*/
div#page { height: 200px;
           padding-top: 50px;
           padding-bottom: 50px;}

.toggle-box { display: none;}

.toggle-box + label { cursor: pointer;
                      display: block;
                      line-height: 21px;
                      margin-bottom: 5px;}

.toggle-box + label + div { display: none;
                            margin-bottom: 10px;}

.toggle-box:checked + label + div { display: block;}

div ul {list-style-type: none;}

.toggle-box + label:before { background-color: #4F5150;
                             -webkit-border-radius: 10px;
                             -moz-border-radius: 10px;
                             border-radius: 10px;
                             color: #FFFFFF;
                             content: "+";
                             display: block;
                             float: left;
                             font-weight: bold;
                             height: 20px;
                             line-height: 20px;
                             margin-right: 5px;
                             text-align: center;
                             width: 20px;}

.toggle-box:checked + label:before { content: "\2212";}