
<div id="studentContainer">
        <div class="searchCluster">
                <div>
                    <form id="searchForm">
                        <div class="container">
                            <div class="LabelDiv">
                                <span id="label">Student First Name:</span>
                            </div>
                            <div class="inputDiv">
                                <input type="text" name="fname">
                            </div>
                        </div>
                         <div class="container">
                            <div class="LabelDiv">
                                <span id="label">Student Last Name:</span>
                            </div>
                            <div class="inputDiv">
                                <input type="text" name="Lname">
                            </div>
                        </div>
                    </form>
                </div>
        </div>

</div>

 
     
